/* .contact-section {
  /* padding: 50px 10%; 
} */

.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-form,
.contact-info {
  flex: 1;
  /* min-width: 300px; */
  background: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  border: 0.5px solid #8a6b6b6b;
}
form {
  padding-right: 20px;
}

.contact-form h2,
.contact-info h2 {
  font-size: 15px;
  /* margin-bottom: 10px; */
}

.contact-form p,
.contact-info a {
  margin-bottom: 15px;
  font-size: 14px;
  padding: 0;
  color: var(--special-text);
}
.contact-info .special {
  color: var(--special-text);
}
.contact-info a{
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact-info a:hover{
  color: #4f46e5;
  
}
/* Inputs */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 0.5px solid #8a6b6b6b;
  border-radius: 6px;
  /* outline: none; */
  background: var(--bg-color);
  color: var(--text-color);
}
.contact-form input,
.contact-form textarea:focus {
  outline: none;
}

/* Button */
.contact-form button {
  width: 100%;
  padding: 12px;
  background: var(--button-bg);
  color: var(--button-text);
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  /* margin: 0; */
}

.contact-form button:hover {
  background: #836fff;
}

/* Offshore box */
.offshore-box {
  /* margin-top: 20px; */
  padding: 0 15px;
  /* background: var(--card-bg); */
  border-radius: 8px;
  border: 0.5px solid #8a6b6b6b;
}
h3 {
  font-size: 15px;
  font-weight: 500;
}
hr {
  height: 1px;
  border: none;
  background-color: #8a6b6b6b;
  margin-bottom: 1.4rem;
  margin-top: 0;
}

@media(max-width:768px){
  .contact-section{
    max-width: 95%;
    width: 100%;
    /* display: flex;
    flex-direction: row; */
  }
 
}


@media(max-width: 480px){
  .contact-section{
    max-width: 95%;
    width: 100%;
  }
}