.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color);
  max-width: 1200px;
  /* padding: 10px 10%; */
  color: var(--text-color);
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* background-color: blur; */
  background: rgba(46, 1, 1, 0.2); /* semi-transparent */
  backdrop-filter: blur(10px);           /* blur effect */
  -webkit-backdrop-filter: blur(10px);   /* for Safari support */
  /* padding: 1rem 2rem; */
  border-bottom: 0.09px solid rgb(64, 57, 57);
}
body.light .navbar {
  background: rgba(255, 255, 255, 0.6); /* light transparent */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* margin-left: 20vw; */

}
.circle-logo {
    height: 40px;
    width: 40px;
    border-radius: 40%;
    background-image: linear-gradient(#9c56ea, #d34396);

}

.fourbit-logo {
    font-size: 15.0px;
    font-weight: bold;
    /* color: white; */
    text-align: center;
}

.nav-services {
    display: flex;
    margin-left: 25vw;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services {
    display: flex;
    align-items: center;
    gap: 30px;
    /* margin-right: 20vw; */
}

.nav-services li {
    color: var(--text-color);
    cursor: pointer;
    /* margin-top: 15px; */
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 15px;

}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6c63ff;
}

input:checked + .slider:before {
  transform: translateX(20px);
}



.quote {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 8px 16px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.quote:hover{
    background: #6b63ff7b;
}
